.about-us {

  &__wrapper {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    place-content: flex-start;
    margin-inline: 20px;
    margin-top: 100px;
    margin-bottom: 32px;

    @include on-tablet {
      margin-top: 140px;
      margin-inline-start: 72px;
    }

    @include on-dekstop {
      margin-top: 138px;
    }
  }
}
