.about-us {
  @include on-tablet {
    display: flex;
    place-content: center;
    gap: 24px;
  }

  &__wrapper {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    place-content: flex-start;
    padding-inline: 20px;
    padding-top: 100px;
    padding-bottom: 32px;

    @include on-tablet {
      padding-top: 140px;
      padding-inline-start: 72px;
    }

    @include on-dekstop {
      padding-top: 138px;
    }
  }

  &__content {
    @include on-tablet {
      margin-top: 115px;
    }
  }
}
