.contact {
  margin-bottom: 48px;

    &__name {
    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $text-gray;

    margin: 0 0 16px;
  }

  &__phone-title {
    font-family: Cinzel, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: $main-dark;
    margin: 0 0 4px;
  }

  &__phone {
    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $text-gray;
    margin: 0 0 8px;
    text-decoration: none;

  }

    &__adress-title {
    font-family: Cinzel, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: $main-dark;
  }

  &__adress {
    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: $text-gray;
    text-decoration: none;
  }
}
