.contact-us {
  @include margin-inline;

  &__title {
    margin-top: 100px;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 48px;
    }
  }

  &__content {
    @include on-dekstop {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 24px;
    }
  }

  &__button {
    display: flex;
    place-content: center;
  }

  &__wrapper {
    @include on-tablet{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 75px;
     justify-content: center;
  }

  }
}
