.contacts {
  color: $white;
  font-size: 16px;
  line-height: 27px;

  &__avenue {
    margin-bottom: 8px;
  }

  &__street {
    margin: 0;
  }

  &__number {
    color: $white;
    text-decoration: none;
  }

  &__call {
    margin-top: 16px;
  }

  &__order{
  color: $white;

  text-decoration: none;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 2px;

  width: fit-content;
  padding-bottom: 7px;
  border-bottom: $white 1px solid;
  }

}


