.exhibition {

  &__title {
    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: $background-color;
    margin: 0 0 4px;
    transition: all $transition-duration;
  }

    &__title:hover {
      transform: scale(1.1);
  }

  &__description {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    margin-bottom: 48px;
    margin-inline: auto;
    color: $main-dark;
    max-width: 325px;
  }

  &__pictures {
    display: flex;
    place-content: center;
  }

  &__pictures-alien {
    background-image: url(/src/img/alien.png);
    width: 280px;
    height: 277px;
    background-size: cover;
    margin-bottom: 24px;
  }
  &__pictures-egypt {
    background-image: url(/src/img/egypt.png);
    width: 280px;
    height: 277px;
    background-size: cover;
    margin-bottom: 24px;
  }
  &__pictures-tours {
    background-image: url(/src/img/tours.png);
    width: 280px;
    height: 277px;
    background-size: cover;
    margin-bottom: 24px;
  }
}
