.explore-online {
  @include margin-inline;

  &__content {
    @include on-dekstop {
      display: flex;
      gap: 24px;
      place-content: center;
    }
  }

  &__title {
    padding-top: 100px;
    padding-bottom: 40px;
    margin: 0 auto;

    max-width: 280px;


    @include on-tablet {
      padding-bottom: 48px;

      max-width: 400px;

      line-height: 48px;
    }

    @include on-dekstop {
      max-width: 500px;
    }
  }
}
