.footer {
  &__picture {
    background-image: url(/src/img/footer.png);
    background-size: contain;

    height: 180px;

    margin-top: 100px;

    @include on-tablet {
      background-image: url(/src/img/footer-x2.png);
      height: 359px;
    }

    @include on-dekstop {
      background-image: url(/src/img/footer-dekstop.png);
    }
  }
}
