.form {
  @include margin-inline;

  @include on-tablet {
    margin: 0;
  }

  &__name {
    box-sizing: border-box;
    height: 48px;

    font-family: Cinzel, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    padding-top: 7px;
    padding-left: 11px;

    background-color: $form-color;
    border: none;

    margin-bottom: 16px;

    @include form-width;

  }

  &__name::placeholder {
    color: $placeholder-color;
  }

    &__name:hover::placeholder {
    color: $main-dark;
  }

  &__email {
    box-sizing: border-box;
    height: 48px;
    font-family: Cinzel, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    padding-top: 7px;
    padding-left: 11px;

    background-color: $form-color;
    border: none;

    margin-bottom: 16px;

      @include form-width;
  }

  &__email::placeholder {
    color: $placeholder-color;
  }

    &__email:hover::placeholder {
    color: $main-dark;
  }

  &__message {
    box-sizing: border-box;
    width: 280px;
    height: 144px;
    font-family: Cinzel, serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    background-color: $form-color;

    padding-top: 14px;
    padding-left: 11px;
    border: none;

    margin-bottom: 32px;

    @include on-tablet {
      width: 288px;
    }

    @include on-dekstop {
      width: 411px;
    }
  }

    &__message::placeholder {
    color: $placeholder-color;
  }

    &__message:hover::placeholder {
    color: $main-dark;
  }

  &__button {
    height: 56px;
    border: none;
    background: transparent;
    background-color: $background-color;
    padding: 0;
    cursor: pointer;
    outline: none;
    color: $text-color;
    transition: all $transition-duration;

    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;

    @include form-width;
  }

    &__button:hover {
    background-color: $hover-button;
    cursor: pointer;
  }

    &__button:active {
    background-color: $pressed-button;
  }
}
