.gallery {
  display: flex;
  justify-content: center;

  &__title {
    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $background-color;
    margin: 0;
    max-width: 280px;
    transition: all $transition-duration;

    @include on-tablet {
      max-width: 100%;
    }
  }

    &__title:hover {
    transform: scale(1.1);
    transform-origin: left;
  }

  &__description {
    font-family: Cinzel, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $main-dark;
    margin: 0 0 48px;
    max-width: 280px;

    @include on-tablet {
      max-width: 100%;
    }
  }

    &__description:last-child {
    margin: 0 0 40px;
  }

  &__pictures {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    @include on-tablet;

    cursor: pointer;
  }

  &__pictures--3--pictures {
    display: flex;
    justify-content: center;
  }

  &__pictures-new-look {
    background-image: url(/src/img/new-look.png);
    width: 130px;
    height: 130px;
    background-size: cover;
    margin-right: 20px;
    transition: all $transition-duration;

    @include on-tablet {
      background-image: url(/src/img/new-look-wide.png);
      width: 392px;
      height: 186px;
      margin-right: 24px;
    }

    @include on-dekstop {
      background-image: url(/src/img/new-look-big.png);
      width: 672px;
      height: 320px;
    }

  }

  &__pictures-new-look:hover {
    @include pictures-animation;
  }

  &__pictures-men {
    background-image: url(/src/img/men.png);
    width: 130px;
    height: 130px;
    background-size: cover;
    transition: all $transition-duration;

    @include on-tablet {
      width: 184px;
      height: 186px;
    }

    @include on-dekstop {
      background-image: url(/src/img/men-big.png);
      width: 324px;
      height: 320px;
    }

  }

  &__pictures-men:hover {
    @include pictures-animation;
  }

  &__pictures-shiva {
    background-image: url(/src/img/shiva.png);
    width: 88px;
    height: 87px;
    background-size: cover;
    margin-right: 8px;
    transition: all $transition-duration;

    @include on-tablet {
      width: 288px;
      height: 284px;
      margin-right: 24px;
    }

    @include on-dekstop {
      background-image: url(/src/img/shiva-big.png);
      width: 324px;
      height: 320px;
    }

  }

  &__pictures-shiva:hover {
    @include pictures-animation;
  }

  &__pictures-carpet {
    background-image: url(/src/img/carpet.png);
    width: 88px;
    height: 87px;
    background-size: cover;
    margin-right: 8px;
    transition: all $transition-duration;

    @include on-tablet {
      width: 288px;
      height: 284px;
      margin-right: 0;
    }

    @include on-dekstop {
      background-image: url(/src/img/carpet-big.png);
      width: 324px;
      height: 320px;
      margin-right: 24px;
    }

  }

  &__pictures-carpet:hover {
    @include pictures-animation;
  }

  &__pictures-demon {
    background-image: url(/src/img/demon.png);
    width: 88px;
    height: 87px;
    background-size: cover;
    transition: all $transition-duration;

    @include on-tablet {
      display: none;
    }

    @include on-dekstop {
      display: block;
    }

    @include on-dekstop {
      background-image: url(/src/img/demon-big.png);
      width: 324px;
      height: 320px;
      visibility: visible;
    }

  }

  &__pictures-demon:hover {
    @include pictures-animation;
  }

  &__pictures-clock {
    background-image: url(/src/img/clock.png);
    width: 130px;
    height: 130px;
    background-size: cover;
    margin-right: 20px;
    transition: all $transition-duration;

    @include on-tablet {
      width: 184px;
      height: 186px;
      margin-right: 24px;
    }

    @include on-dekstop {
      background-image: url(/src/img/clock-big.png);
      width: 324px;
      height: 320px;
    }
  }

  &__pictures-clock:hover {
    @include pictures-animation;
  }

  &__pictures-statue {
    background-image: url(/src/img/statue.png);
    width: 130px;
    height: 130px;
    background-size: cover;
    transition: all $transition-duration;

    @include on-tablet {
      background-image: url(/src/img/statue-wide.png);
      width: 392px;
      height: 186px;
  }

      @include on-dekstop {
      background-image: url(/src/img/statue-big.png);
      width: 672px;
      height: 320px;
      }
  }

  &__pictures-statue:hover {
    @include pictures-animation;
  }
}
