.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-image: url(/src/img/bg-header-mobile.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &__top {
    margin-top: 25px;

    @include margin-inline;

    @include on-tablet {
      margin-top: 50px;
    }

    @include on-dekstop {
      margin-inline: 120px;
    }
  }

  &__bottom {
    box-sizing: border-box;
    flex: 1;

    @include content-padding-inline;

    display:flex;
    align-items:center;
    justify-content:center;
    color: $text-color;
    text-align: center;
    text-transform: uppercase;
  }

  &__title {
    margin: 0;
    font-family: Cinzel, serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    letter-spacing: -1.5px;
    font-size: 40px;
    line-height: 100%;

    @include text-transform-title;

    @include on-tablet {
      font-size: 64px;
    }

    @include on-dekstop {
      font-size: 80px;
    }
  }

}
