.icon {
  display: block;
  width: 24px;
  height: 24px;

  @include hover(transform, scale(120%));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(/src/img/icons/Icon-Phone-call.png);
    background-size: cover;
  }

  &--menu {
    background-image: url(/src/img/icons/Icon-Burger-menu.png);
    background-size: cover;
  }

  &--close {
    background-image: url(/src/img/icons/Icon-Close.png);
    background-size: cover;
  }
}
