.icon {
  display: block;
  width: 24px;
  height: 24px;

  @include hover(transform, scale(120%));

  @include on-tablet {
    width: 32px;
    height: 32px;
  }

  &--phone {
    background-image: url(/src/img/icons/Icon-Phone-call-x2.png);
    background-size: cover;
  }

  &--menu {
    background-image: url(/src/img/icons/Icon-Burger-menu-x2.png);
    background-size: cover;
  }

  &--menu:hover {
    background-image: url(/src/img/icons/Icon-Burger-menu-hover.png);
  }

  &--close {
    background-image: url(/src/img/icons/Icon-Close-x2.png);
    background-size: cover;
  }
}
