.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $background-color;
  font-weight: 700;
  font-family: Cinzel, serif;
  text-transform: uppercase;

  &__content {
    @include content-padding-inline;

  }

  &__top {
    margin-top: 25px;

    @include margin-inline;

    @include on-tablet {
      margin-top: 32px;
    }

    @include on-dekstop {
      margin-inline: 120px;
    }
  }

  &__navigation {
    margin-bottom: 32px;
    margin-top: 40px;
  }

}
