.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: $red;
  font-weight: 700;
  font-family: Cinzel, serif;
  text-transform: uppercase;

  &__content {
    @include content-padding-inline;

  }

  &__top {
    margin-top: 25px;

    @include top-bar-margin-inline;
  }

  &__navigation {
    margin-bottom: 32px;
    margin-top: 40px;
  }

}
