.now-on-view {
  @include content-padding-inline;

    max-width: 1020px;
    margin: 0 auto;

  &__wrapper {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    place-content: center;
    padding-inline: 20px;
    padding-top: 100px;
    padding-bottom: 48px;
  }

  &__select {
      display: flex;
      place-content: center;
      flex-wrap: wrap;
  }

  &__button {
    width: 280px;
    height: 56px;
    background-color: $background-color;

    display: flex;
    place-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    transition: all $transition-duration;

    @include on-tablet {
      width: 392px;
      height: 56px;
    }
  }

  &__button:hover {
    background-color: $hover-button;
  }

    &__button:active {
    background-color: $pressed-button;
  }

  &__view-all {
    color: $text-color;
    text-decoration: none;
    line-height: 56px;

    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;
  }
}
