.section-title {
    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    margin: 0;

    text-align: center;

    @include on-tablet {
      font-size: 48px;
    }

  &--2 {
    margin: 0;
    order: 2;

    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: left;

    @include on-tablet {
      font-size: 48px;
      line-height: 48px;
    }
  }

    &__description {
    margin-top: 5px;
    margin-bottom: 0;

    font-family: Cinzel, serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 27px;
    color: $main-dark;

  }

  &__description--now-on-view {
    margin-top: 8px;

    @include on-tablet {
      max-width: 400px;
    }

    @include on-dekstop {
      max-width: 325px;
    }
  }

  &__description--red {
    margin: 0;
    order: 1;

    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    color: $background-color;
    text-align: start;
  }
}
