  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icons {
      display: flex;
      gap: 24px;
    }

    &__logo-link {
      display: flex;
    }

    &__logo-link-menu {
      display: flex;
    }

    &__logo {
      height: 46px;

      @include on-tablet {
        height: 65px;
      }

      @include hover(transform, scale(120%));
    }

    &__logo-menu {
      height: 46px;

      @include on-dekstop {
        height: 65px;
      }
  }
}
