.work-time {
  @include margin-inline;

  &__place {
    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $main-dark;
    margin-bottom: 16px;
  }

  &__wrapper {
    display: flex;
    column-gap: 24px;
  }

  &__till {
    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $main-dark;
  }

  &__day {
    font-family: Cinzel, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $main-dark;
  }

  &__closed {
    font-family: Cinzel, serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: $main-dark;
  }

  &__closed-days {
    font-family: Cinzel, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $main-dark;
  }
}
