:root {
  --white: #fff;
  --red: #D12D35;
}

/* #region Page */

.page {
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
}

.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

/* #endregion Page */

/* #region Header */
.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
  background-image: url(/src/img/bg-header-mobile.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icons {
  display: flex;
  gap: 24px;
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
}

.icon--phone {
  background-image: url(/src/img/icons/Icon-Phone-call.png);
}

.icon--menu {
  background-image: url(/src/img/icons/Icon-Burger-menu.png);
}

.header__bottom {
  box-sizing: border-box;
  flex:1;
  display:flex;
  align-items:center;
  justify-content:center;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;

}

.header__title {
  width: 280px;
  height: 80px;
  margin: 0;
  font-family: Cinzel, serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1.5px;
  font-size: 40px;
  line-height: 100%;
  transform: translateY(-90%);
}

/* #endregion Header */

/* #region Menu */
.menu {
  box-sizing: border-box;
  padding: 25px 20px;
  height: 100vh;
  background-color: var(--red);
  font-weight: 700;
  font-family: Cinzel, serif;
  text-transform: uppercase;
}

.menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon--close {
  background-image: url(/src/img/icons/Icon-Close.png);
}

.menu__navigation {
  margin-bottom: 32px;
  margin-top: 40px;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 22px;
  line-height: 22px;
}

.nav__link {
  color: var(--white);
  text-decoration: none;
}

.contacts {
  color: var(--white);
  font-size: 16px;
  line-height: 27px;
}

.contacts__avenue {
  margin-bottom: 8px;
}

.contacts__street {
  margin: 0;
}

.contacts__number {
  color: var(--white);
  text-decoration: none;
}

.contacts__call {
  margin-top: 16px;
}

.contacts__order{
  color: var(--white);

  text-decoration: none;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 2px;

  width: fit-content;
  padding-bottom: 7px;
  border-bottom: var(--white) 1px solid;
}

/* #endregion Menu */
