@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-dekstop {
  @media (min-width: $dekstop-min-width) {
    @content;
  }
}

@mixin margin-inline {
  margin-inline: 20px;

  @include on-tablet {
  margin-inline: 72px;
  }
}

@mixin content-padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-dekstop {
    padding-inline: 120px;
  }
}

@mixin text-transform-title {
  transform: translateY(-100%);

  @include on-tablet {
    transform: translateY(-95%);
  }

  @include on-dekstop {
    transform: translateY(-115%);
  }
}

@mixin hover($property, $toValue) {
  transition: $property 0.3s;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin form-width {
  width: 280px;

  @include on-tablet {
    width: 288px;
  }

  @include on-dekstop {
    width: 411px;
  }
}

@mixin pictures-animation {
  transform: scale(1.1);
}


