$text-color: #fff;
$background-color: #D12D35;
$main-dark: #161616;
$text-gray: #3E3E3E;
$hover-button: #AE1C23;
$placeholder-color: #7E7E83;
$form-color: #F8F8FA;
$tablet-min-width: 576px;
$dekstop-min-width: 1024px;
$transition-duration: 0.3s;
